body {
  background-color: black;
  box-sizing: border-box;
  color: #00c0c0;
  font-family: Eternal_UI , monospace;
  font-size: large;
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.button {
  background-color: purple;
  border-left: 2px;
  border-right: 2px;
  color: #00c0c0;
  font-family: Eternal_UI , monospace;
  font-size: larger;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transform: skew(-20deg);
}

.button-deactivated {
  background-color: rgb(48, 1, 48);
  border-left: 2px;
  border-right: 2px;
  color: #003838;
  font-family: Eternal_UI , monospace;
  font-size: larger;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transform: skew(-20deg);
}

.btn-div {
  display: flex;
  justify-content: center;
  padding-left: 30%;
  padding-right: 30%;
}

.green-border {
  border: 1px solid green;
}

.input-div {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.ranking {
  padding-left: 100px;
}

.red-border {
  border: 1px solid red;
}

.ranking-table {
  align-self: center;
  border: solid #00c0c0 3px;
  color: white;
  font-family: Eternal_UI , monospace;
  font-size: larger;
  padding: 5px;
  padding-left: 10px;
  transform: skew(5deg);
}

.ranking-row {
  background-color: rgb(48, 1, 48);
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.label {
  border: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

@font-face {
  font-family: Eternal_UI;
  src: url('./css/EternalUiRegular-1Gap2.ttf') format('truetype');
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
